.navbar-brand{
    padding: 10px;
}

.project-title{
    text-align: center;
    font-size:30px;
}

.icon-dropdown{
    color: white!important;
    font-size: 30px;
    text-align: left;
}

.show>.dropdown-menu {
    display: block;
    position: absolute;
  }